*{
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(images/footer-bg.png);
}


#rules{
    display: flex;
    gap: 5em;
}

img{
    width: 250px;
    height: 200px;
}


.main-content{
    display: flex;
    background: url(images/battleground-bg.png);
    background-size: cover;
}

.pokemon-choice{
    display: flex;
    align-items: center;
}

.scoreboard{
    display: flex;
    align-items: flex-end;
}

.buttons{
    display: flex;
    justify-content: center;
    background: url(images/header-bg.png);
}

footer{
    background: url(images/header-bg.png);
}

